@charset "UTF-8";
/* Las variables comienzan con el simbolo $ */
/* _____________BLOG___________________ */
.headerBlog img {
  width: 200px; }

/* MAIN BLOG */
.mainBlog {
  background-color: black;
  color: white;
  display: flex;
  margin: 10px; }
  .mainBlog .cImgblog {
    padding: 0px;
    display: flex; }

.contBlog {
  display: flex;
  flex-direction: column;
  align-items: left; }

.mainBlogT {
  margin-top: 10px;
  padding: 15px;
  font-size: 4rem;
  font-style: italic;
  font-weight: 600;
  position: relative;
  right: 100px;
  text-align: center; }

.mainBlogP {
  padding: 25px;
  font-size: 2.6rem;
  text-align: left;
  font-weight: 100; }
  .mainBlogP .nivelL1 {
    font-style: italic;
    font-weight: bold; }

/* SECTION BLOG */
.noticiasBlog {
  margin: 20px 0px;
  display: flex;
  flex-direction: column; }

/* ARTICULO 1 */
.art1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  margin: 30px; }

.art1Img {
  width: 250px;
  height: 200px;
  border: solid 3px #4ab70b;
  border-radius: 50%;
  padding: 5px; }

.contArt1 {
  display: flex;
  flex-direction: column; }

.art1T {
  text-decoration: underline;
  margin: 10px;
  font-size: 4rem; }

.art1P {
  text-align: justify;
  margin: 15px 25px;
  font-size: 2rem; }

.art1 a {
  text-decoration: none;
  color: black; }

/* ARTICULO 2 */
.art2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  margin: 30px; }

.art2Img {
  width: 250px;
  height: 200px;
  border: solid 3px #4ab70b;
  border-radius: 50%;
  padding: 5px; }

.contArt2 {
  display: flex;
  flex-direction: column; }

.art2T {
  text-decoration: underline;
  margin: 10px;
  font-size: 4rem; }

.art2P {
  text-align: justify;
  margin: 15px 25px;
  font-size: 2rem; }

.art2 a {
  text-decoration: none;
  color: black; }

/* ARTICULO 3 */
.art3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: black;
  margin: 30px; }

.art3Img {
  width: 250px;
  height: 200px;
  border: solid 3px #4ab70b;
  border-radius: 50%;
  padding: 5px; }

.contArt3 {
  display: flex;
  flex-direction: column; }

.art3T {
  text-decoration: underline;
  margin: 10px;
  font-size: 4rem; }

.art3P {
  text-align: justify;
  margin: 15px 25px;
  font-size: 2rem; }

.art3 a {
  text-decoration: none;
  color: black; }

/* FOOTER BLOG */
.footerBlog {
  background-color: black;
  grid-area: footer; }
  .footerBlog ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }

.home {
  width: 150px; }

.rrssFace,
.rrssIg {
  width: 50px; }

.wspSticky {
  width: 55px; }

/* TAMAÑO TABLET */
@media screen and (max-width: 1025px) {
  .mainBlog {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
  .imgMainblog {
    margin: 50px 0px;
    width: 500px;
    border: solid 5px #4ab70b; }
  .contBlog {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mainBlogT {
    text-align: center;
    padding: 10px;
    font-size: 5rem;
    font-style: italic;
    font-weight: 700;
    transform: none;
    position: relative;
    left: 0px; }
  .mainBlogP {
    padding: 25px;
    font-size: 2rem;
    text-align: center; } }

/* TAMAÑO CELULAR */
@media screen and (max-width: 426px) {
  .headerBlog {
    background-color: #F8F9FA; }
    .headerBlog img {
      width: 200px; }
  /* MAIN BLOG */
  .mainBlog {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px; }
  .imgMainblog {
    width: 300px; }
  .contBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px; }
  .mainBlogT {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600; }
  .mainBlogP {
    font-size: 1.4rem;
    text-align: left; }
  /* SECTION BLOG */
  .noticiasBlog {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 5px 0px; }
  .art1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin: 5px 0px; }
  .art1T {
    text-decoration: underline;
    margin: 5px 0px;
    font-size: 2rem;
    text-align: center; }
  .art1P {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.4rem;
    margin: 2px; }
  .art1Img {
    width: 300px; }
  .art1 a {
    text-decoration: none;
    color: black; }
  /* articulo 2 */
  .art2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin: 5px 0px; }
  .art2T {
    text-decoration: underline;
    margin: 5px 0px;
    font-size: 2rem;
    text-align: center; }
  .art2P {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.4rem;
    margin: 2px; }
  .art2Img {
    width: 300px; }
  .art2 a {
    text-decoration: none;
    color: black; }
  /* articulo 3 */
  .art3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin: 5px 0px; }
  .art3T {
    text-decoration: underline;
    margin: 5px 0px;
    font-size: 2rem;
    text-align: center; }
  .art3P {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.4rem;
    margin: 2px; }
  .art3Img {
    width: 300px; }
  .art3 a {
    text-decoration: none;
    color: black; }
  /* FOOTER BLOG */
  .footerBlog {
    background-color: black;
    grid-area: footer; }
    .footerBlog ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: baseline; }
  .home {
    width: 150px; }
  .rrssFace,
  .rrssIg {
    width: 50px; }
  .wspSticky {
    width: 55px; } }

/* ____________CONTACTO___________ */
/* HEADER CONTACTO */
.contactoMain {
  background-color: #808080;
  background-image: url(../imagenes/iconos-mockups/bg-dibujos2.jpg);
  padding: 50px 0px;
  font-size: 1.5rem;
  color: white; }
  .contactoMain .containerform {
    background: rgba(0, 0, 0, 0.493); }
    .contactoMain .containerform .backg {
      background-image: url(../imagenes/imagenes-sin-usar/fondo-1-min.jpg);
      background-position: center center; }
    .contactoMain .containerform .contactoHijo {
      padding: 25px; }

.subtituloContacto {
  font-size: 2rem; }

.containerLogo {
  display: flex;
  justify-content: end; }
  .containerLogo .logoContacto {
    width: 150px;
    padding: 5px;
    background-color: black;
    border-radius: 20px 0px; }

.subtituloContacto {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin: 5px;
  font-size: 3rem; }

.formContacto div {
  margin-bottom: 10px; }

.prueba {
  background: #808080; }
  .prueba h3 {
    font-size: 5rem;
    font-family: 'Abril Fatface';
    text-align: center;
    margin: 10px 0px;
    border-radius: 10px; }

/* FOOTER CONTACTO */
.footerContacto {
  background-color: black; }
  .footerContacto ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }

.home {
  width: 150px; }

.rrssFace,
.rrssIg {
  width: 50px; }

.wspSticky {
  width: 55px; }

@media screen and (max-width: 426px) {
  .prueba {
    background: #808080; }
    .prueba h3 {
      font-size: 2rem;
      font-family: 'Abril Fatface';
      text-align: center;
      margin: 10px 0px;
      border-radius: 10px; }
  .logoContacto {
    display: none; } }

/* _________CURSOS_________ */
.headerCursos {
  background-color: #F8F9FA; }
  .headerCursos img {
    width: 200px; }

/* MAIN CURSOS */
.mainCursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(../imagenes/iconos-mockups/bg-dibujoscolor.jpg);
  background-size: auto; }
  .mainCursos .contCursos {
    background-color: rgba(0, 0, 0, 0.795);
    padding: 15px; }
    .mainCursos .contCursos h1 {
      font-size: 5.5rem;
      font-weight: 600;
      color: white;
      margin: 20px;
      text-align: center; }
    .mainCursos .contCursos p {
      font-size: 3rem;
      font-weight: 100;
      color: white;
      margin: 20px;
      text-align: center;
      font-style: italic; }

/* SECTION CURSOS */
.sectionCdispo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0px;
  background-color: black; }

.cultivoInt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px springgreen;
  margin: 20px 5px; }

.intImg {
  width: 300px;
  height: 200px;
  margin: 10px 5px; }

.cultivoInt h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-style: italic; }

.cultivoInt p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 25px; }

.cultivoInt a {
  text-decoration: underline;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px #4ab70b; }

.cultivoExt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px springgreen;
  margin: 20px 5px; }

.cultivoeExImg {
  width: 300px;
  height: 200px;
  margin: 10px 5px; }

.cultivoExt h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-style: italic; }

.cultivoExt p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 25px; }

.cultivoExt a {
  text-decoration: underline;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px #4ab70b; }

.cultivoHidro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px springgreen;
  margin: 20px 5px; }

.hidroImg {
  width: 300px;
  height: 200px;
  margin: 10px 5px; }

.cultivoHidro h2 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-style: italic; }

.cultivoHidro p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 25px; }

.cultivoHidro a {
  text-decoration: underline;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px #4ab70b; }

/* SECTION TABLAS CURSOS */
.tablaComisiones {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../imagenes/iconos-mockups/bgamarillo.jpg);
  background-repeat: round; }

.comisiones {
  font-size: 3rem;
  margin: 10px 0px 25px 0px;
  font-style: italic; }

.tablita {
  width: 500px;
  height: 250px; }

/* FOOTER CURSOS */
.footerCursos {
  margin: 25px 0px 0px 0px;
  background-color: black;
  grid-area: footer; }
  .footerCursos ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }

.home {
  width: 150px; }

.rrssFace,
.rrssIg {
  width: 50px; }

.wspSticky {
  width: 55px; }

/* TAMAÑO TABLET  CURSOS */
@media screen and (max-width: 1025px) {
  .sectionCdispo {
    justify-content: center; } }

/* TAMAÑO CELULAR CURSOS */
@media screen and (max-width: 426px) {
  .headerCursos {
    background-color: #F8F9FA; }
    .headerCursos img {
      width: 200px; }
  .cultivoInt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 780px;
    border: solid 3px springgreen;
    margin: 20px 5px; }
  .mainCursos {
    font-size: 2rem; }
    .mainCursos p {
      font-size: 2rem; }
  .tablita {
    width: 300px;
    height: 400px; } }

/*  HEADER GROWSHOP */
body {
  background-color: white;
  overflow-x: hidden; }

.headerGrowshop {
  background-color: #F8F9FA; }
  .headerGrowshop img {
    width: 200px; }

/*  NAV GROWSHOP */
.containerNav {
  font-size: 2rem; }

.submenuGrowshop {
  font-size: 2rem; }

.buscadorMenu {
  width: 200px; }

/* MAIN GROWSHOP */
.mainGrowshop {
  background-color: black;
  margin: 5px 0px; }

.contG1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }
  .contG1 ul {
    list-style: none; }

.contG2 {
  margin: 10px 0px; }
  .contG2 img {
    border: solid 2px gray; }

.contG3 {
  display: flex;
  flex-direction: column;
  color: white; }
  .contG3 h1 {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600; }
  .contG3 p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; }
  .contG3 .smgrowshop {
    font-size: 2rem;
    font-weight: 700; }

/* SEPARADOR */
.catalogo {
  height: 200px;
  background-image: url(../imagenes/iconos-mockups/bg-dibujos4.jpg);
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center; }
  .catalogo h2 {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: white; }

/* SECTION FERTILIZANTES */
.sectionFerti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 0px; }

.contFert {
  background-image: url(../imagenes/Growshop/img-growshop-secciones/growshop-fertilizantes.png);
  filter: grayscale(100%);
  transition: all 1s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contFert:hover {
    filter: none; }
  .contFert h2 {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  .contFert p {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center; }

.tarjetasFerti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.btnComprar {
  background-color: #4ab70b; }

/* SECTION SUSTRATOS  */
/* SECTION SUSTRATOS  */
.sectionSustrato {
  margin: 5px 0px; }

.contSustrato {
  background-image: url(../imagenes/Growshop/img-growshop-secciones/growshop-sustrato.png);
  filter: grayscale(100%);
  transition: all 1s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contSustrato:hover {
    filter: none; }
  .contSustrato h2 {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  .contSustrato p {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center; }

.tarjetasSustrato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/* SECTION ILUMINACION */
.sectionIluminacion {
  margin: 5px 0px; }

.contIluminacion {
  background-image: url(../imagenes/Growshop/img-growshop-secciones/growshop-iluminacion.png);
  filter: grayscale(100%);
  transition: all 1s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contIluminacion:hover {
    filter: none; }
  .contIluminacion h2 {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  .contIluminacion p {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center; }

.tarjetasIluminacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/* SECTION VENTILACION */
.sectionVenti {
  margin: 5px 0px; }

.contVenti {
  background-image: url(../imagenes/Growshop/img-growshop-secciones/growshop-ventilacion.png);
  filter: grayscale(100%);
  transition: all 1s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contVenti:hover {
    filter: none; }
  .contVenti h2 {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  .contVenti p {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center; }

.tarjetasVenti {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/* SECTION ACCESORIOS Y PARAFERNALIA */
.sectionAcc {
  margin: 5px 0px; }

.contAcc {
  background-image: url(../imagenes/Growshop/img-growshop-secciones/growshop-accesoriosyparafernalia.png);
  filter: grayscale(100%);
  transition: all 1s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contAcc:hover {
    filter: none; }
  .contAcc h2 {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
  .contAcc p {
    background-color: #5dfa02af;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center; }

.tarjetasAcc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

/* FOOTER GROWSHOP */
.footerGrowshop {
  margin: 10px 0px 0px 0px;
  background-color: black; }
  .footerGrowshop ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }
  .footerGrowshop .rrss li {
    list-style: none; }
  .footerGrowshop .rrss a {
    text-decoration: none;
    color: #4ab70b; }
  .footerGrowshop .up {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600; }
  .footerGrowshop .homef {
    width: 150px; }
  .footerGrowshop .rrssFacef {
    width: 50px; }
  .footerGrowshop .rrssIgf {
    width: 50px; }
  .footerGrowshop .wspStickyf {
    width: 55px; }

@media screen and (max-width: 769px) {
  .contG1 {
    text-align: center; }
  .contFert {
    filter: none; }
    .contFert h2 {
      width: auto; }
  .contSustrato {
    filter: none; }
    .contSustrato h2 {
      width: auto; }
  .contIluminacion {
    filter: none; }
    .contIluminacion h2 {
      width: auto; }
  .contVenti {
    filter: none; }
    .contVenti h2 {
      width: auto; }
  .contAcc {
    filter: none; }
    .contAcc h2 {
      width: auto; } }

@media screen and (max-width: 426px) {
  .footerGrowshop {
    margin: 0px 0px 0px 0px;
    background-color: black; }
    .footerGrowshop ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center; }
    .footerGrowshop .rrss li {
      list-style: none; }
    .footerGrowshop .rrss a {
      text-decoration: none;
      color: #4ab70b; }
    .footerGrowshop .up {
      font-size: 1.7rem;
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
      font-weight: 600; }
    .footerGrowshop .homef {
      width: 100px; }
    .footerGrowshop .rrssFacef {
      width: 35px; }
    .footerGrowshop .rrssIgf {
      width: 35px; }
    .footerGrowshop .wspStickyf {
      width: 35px; } }

/* ___________INDEX______________ */
* {
  margin: 0px;
  padding: 0px; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

.contenedor_total {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.01fr 0.8fr 0.5fr 0.5fr 0.01fr;
  grid-template-areas: "nav nav nav " "main main main " "cursos  cursos cursos" "tienda tienda tienda " "footer footer footer "; }

/* NAVEGACION NUEVO */
.indexGrids {
  grid-area: nav; }

.containerNav {
  display: flex;
  font-size: 2rem;
  font-weight: 600; }
  .containerNav .navSubmenu li {
    font-size: 2rem; }

.navbar-logo {
  width: 200px; }

/* MAIN */
.mainIndex {
  grid-area: main;
  background-color: black;
  color: white;
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  background-image: url(../imagenes/paralax/index-paralax-main.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  .mainIndex h1 {
    font-size: 8rem;
    margin: 25px 10px;
    font-style: italic;
    font-weight: 700; }
  .mainIndex p {
    font-size: 2.5rem;
    text-align: left;
    padding: 10px;
    margin: 10px 50px; }
  .mainIndex .span__main {
    background-color: black;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic; }

/* SECTION index CURSOS */
.cursosIndex {
  color: #F8F9FA;
  grid-area: cursos;
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-image: url(../imagenes/paralax/index-paralax-cursos.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: flex-start; }
  .cursosIndex h2 {
    align-self: flex-start;
    font-size: 5rem;
    margin-top: 30px;
    font-weight: 700; }
  .cursosIndex p {
    font-size: 2rem;
    margin: 10px;
    width: 90%; }
  .cursosIndex .sparrafo {
    background-color: black;
    font-size: 2.5rem;
    padding: 1px 3px;
    font-weight: 600; }
  .cursosIndex div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 50px; }
  .cursosIndex img {
    width: 700px;
    margin: 25px;
    border: solid 3px gray;
    border-radius: 50px; }

.indexIrcurso {
  animation: jackInTheBox;
  animation-duration: 2s; }

.cursosIndex a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin: 10px 25px;
  padding: 5px;
  border: solid 3px rgba(9, 180, 9, 0.836);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.9); }

/* SECTION index TIENDA */
.tiendaIndex {
  grid-area: tienda;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-image: url(../imagenes/paralax/index-paralax-growshop.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.tiendaTp {
  color: #F8F9FA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 25px; }
  .tiendaTp h2 {
    font-size: 5rem;
    margin-top: 30px;
    font-weight: 700; }
  .tiendaTp p {
    font-size: 2rem;
    margin-right: 25px; }
  .tiendaTp .sparrafo {
    color: #09b409;
    background-color: black;
    font-size: 2.5rem;
    padding: 1px 3px;
    font-weight: 600; }

.tiendaImga {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border-radius: 50px; }
  .tiendaImga img {
    width: 700px;
    margin: 25px;
    border: solid 3px gray;
    border-radius: 50px; }
  .tiendaImga a {
    text-decoration: none;
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border: solid 3px rgba(9, 180, 9, 0.836);
    margin: 25px;
    padding: 5px;
    border-radius: 50px; }

.indexIrtienda {
  animation: jackInTheBox;
  animation-duration: 2s; }

/* FOOTER index */
.footerIndex {
  background-color: black;
  grid-area: footer; }
  .footerIndex ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }

.home {
  width: 150px; }

.rrssFace,
.rrssIg {
  width: 50px; }

.wspSticky {
  width: 55px; }

/* TABLET */
@media screen and (max-width: 1025px) {
  .contenedor_total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas: "nav nav" "main main" "cursos cursos" "tienda tienda" "footer footer";
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  /* HEADER */
  .indexGrids {
    grid-area: nav; }
  .headerIndex img {
    background-color: #F8F9FA; }
  /* MAIN */
  .mainIndex {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainIndex h1 {
      font-size: 6rem; }
    .mainIndex img {
      margin: 10px;
      padding: 0px;
      width: 400px; }
  /* SECTION main CURSOS */
  .cursosIndex {
    grid-area: cursos; }
  .contIndex img {
    width: 400px; }
  /* SECTION main TIENDA */
  .tiendaIndex {
    grid-area: tienda; }
  .tiendaImga img {
    width: 400px; }
  /* FOOTER */
  .footerIndex {
    grid-area: footer; } }

/* TAMAÑO MOBILE */
@media screen and (max-width: 460px) {
  .contenedor_total {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas: "nav" "main" "cursos" "tienda" "footer"; }
  /* HEADER */
  .indexGrids {
    grid-area: nav; }
  .headerIndex img {
    background-color: #F8F9FA; }
  /* MAIN */
  .mainIndex {
    grid-area: main; }
    .mainIndex h1 {
      font-size: 5rem; }
  /* SECTION index CURSOS */
  .cursosIndex {
    grid-area: cursos;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contIndex img {
    width: 300px; }
  .cursosIndex p {
    font-size: 2rem; }
  /* SECTION index TIENDA */
  .tiendaIndex {
    grid-area: tienda; }
    .tiendaIndex p {
      font-size: 2rem; }
  .tiendaImga img {
    width: 300px; }
  /* FOOTER */
  .footerIndex {
    grid-area: footer; }
    .footerIndex p {
      font-size: 2rem; } }

/* _____________QUIENES SOMOS___________________ */
/* MAIN NOSOTROS */
.mainNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black; }
  .mainNosotros h1 {
    font-size: 5rem;
    color: white;
    margin: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; }
  .mainNosotros p {
    font-size: 3rem;
    color: white;
    margin: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200; }
    .mainNosotros p .nosEstilo {
      color: #4ab70b;
      font-weight: 600;
      font-style: italic; }

/* SECTION NOSOTROS */
.sectionNosotros {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #4ab70b;
  background-image: url(../imagenes/iconos-mockups/bg-dibujos4.jpg);
  background-size: auto;
  margin-top: 10px; }
  .sectionNosotros .nosotrosC1 Img {
    margin: 10px 0px 0px 0px;
    border-bottom: solid 5px #4ab70b;
    border-right: solid 5px #4ab70b; }
  .sectionNosotros .nosotrosC2 {
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    margin: 0px 5px; }
    .sectionNosotros .nosotrosC2 h2 {
      margin: 10px 10px;
      font-size: 4.5rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #4ab70b;
      text-align: center;
      margin: 10px 0px; }
    .sectionNosotros .nosotrosC2 p {
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200; }

.nosotrosh3 {
  font-weight: 600;
  font-size: 3rem; }

.historia {
  background-color: white;
  color: black;
  padding: 5px; }

.vantaSpan {
  float: left;
  width: 3.7em;
  font-size: 65px;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic; }

/* FOOTER NOSOTROS */
.footerNosotros {
  margin: 10px 0px 0px 0px;
  background-color: black; }
  .footerNosotros div ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }
    .footerNosotros div ul li {
      list-style: none; }
      .footerNosotros div ul li .home {
        width: 150px; }
      .footerNosotros div ul li .rrssFace {
        width: 50px; }
      .footerNosotros div ul li .rrssIg {
        width: 50px; }
      .footerNosotros div ul li .wspSticky {
        width: 55px; }

/* PICS420 */
/* GRIDS PICS420 */
.contenedorPics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.01fr 0.4fr 0.2fr 1fr 0.1fr;
  grid-template-areas: "nav nav nav nav " "main main main main " "separador separador separador separador"   "galeria galeria galeria galeria"    "footer footer footer footer"; }

/* HEADER */
.picsGrid {
  grid-area: nav; }

.headerPics {
  background-color: #F8F9FA; }
  .headerPics img {
    width: 200px; }

/* MAIN */
.mainPics {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  background-color: white;
  background-image: url(../imagenes/pics420/fondo-pics-420.jpg);
  margin: 5px 0px; }
  .mainPics img {
    border: solid 3px gray; }
  .mainPics .contPicsMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568); }
    .mainPics .contPicsMain h1 {
      text-align: center;
      margin-top: 40px;
      font-size: 8rem;
      margin: 10px 10px;
      font-style: italic;
      font-weight: 700;
      background-color: black;
      border-radius: 20px 0px;
      padding: 6px;
      animation-name: aparecerMainH1;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: initial; }
    .mainPics .contPicsMain h2 {
      font-size: 4rem;
      font-weight: 800; }
    .mainPics .contPicsMain p {
      font-size: 2.5rem;
      text-align: center;
      padding: 10px;
      margin: 10px;
      font-style: italic;
      color: #4ab70b;
      font-weight: 200;
      background-color: rgba(255, 255, 225, 0.8);
      border-radius: 20px; }
    .mainPics .contPicsMain .picsP {
      font-weight: 600;
      color: black; }

@keyframes aparecerMainH1 {
  0% {
    opacity: 0%;
    transform: translate(-100px); }
  10% {
    opacity: 10%; }
  20% {
    opacity: 20%; }
  30% {
    opacity: 30%; }
  40% {
    opacity: 40%; }
  50% {
    opacity: 50%; }
  60% {
    opacity: 60%; }
  70% {
    opacity: 70%; }
  80% {
    opacity: 80%; }
  90% {
    opacity: 90%; }
  100% {
    opacity: 100%;
    transform: translate(0px); } }

.separador {
  grid-area: separador;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: #ff4400; }
  .separador h2 {
    padding: 10px; }

.galeria-contenedor {
  grid-area: galeria;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px;
  padding: 10px;
  grid-gap: 10px; }
  .galeria-contenedor .galeria__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 1s; }
    .galeria-contenedor .galeria__imagen:hover {
      filter: none; }

.galeria__item {
  position: relative; }

.galeria__item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.galeria__item:nth-child(2) {
  grid-column-start: span 3;
  grid-row-start: span 0; }

.galeria__item:nth-child(3) {
  grid-column-start: span 1;
  grid-row-start: span 4; }

.galeria__item:nth-child(4) {
  grid-column-start: span 1;
  grid-row-start: span 3; }

.galeria__item:nth-child(5) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.galeria__item:nth-child(6) {
  grid-column-start: span 1;
  grid-row-start: span 2; }

.galeria__item:nth-child(7) {
  grid-column-start: span 1;
  grid-row-start: span 2; }

.galeria__item:nth-child(8) {
  grid-column-start: span 2;
  grid-row-start: span 1; }

.galeria__titulo {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 225, 0.1), black);
  padding: 2px;
  font-size: 1.2rem; }

/* FOOTER  */
.footerPics {
  background-color: black;
  grid-area: footer;
  margin: 5px 0px; }
  .footerPics ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline; }

.rrssp {
  list-style: none; }

.homep {
  width: 150px; }

.rrssFacep,
.rrssIgp {
  width: 50px; }

.wspStickyp {
  width: 55px; }

/* @media screen and (max-width: 1025px){

    .contPicsMain{
        h2{
            color: #4ab70b;
            font-size: 10rem;
        }
    }
} */
@media screen and (max-width: 1025px) {
  .galeria-contenedor {
    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    padding: 10px;
    grid-gap: 10px; }
    .galeria-contenedor .galeria__imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all 1s; }
      .galeria-contenedor .galeria__imagen:hover {
        filter: none; }
  .galeria__item {
    position: relative; }
  .galeria__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1; }
  .galeria__item:nth-child(2) {
    grid-column-start: span 2;
    grid-row-start: span 1; }
  .galeria__item:nth-child(3) {
    grid-column-start: span 2;
    grid-row-start: span 4; }
  .galeria__item:nth-child(4) {
    grid-column-start: span 1;
    grid-row-start: span 2; }
  .galeria__item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 1; }
  .galeria__item:nth-child(6) {
    grid-column-start: span 1;
    grid-row-start: span 1; }
  .galeria__item:nth-child(7) {
    grid-column-start: span 3;
    grid-row-start: span 1; }
  .galeria__item:nth-child(8) {
    grid-column-start: span 4;
    grid-row-start: span 1; }
  .galeria__titulo {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 225, 0.1), black);
    padding: 2px;
    font-size: 1.2rem; } }

/* TAMAÑO TABLET */
@media screen and (max-width: 769px) {
  .contenedorPics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.01fr 0.5fr 0.1fr 1fr 0.1fr;
    grid-template-areas: "nav nav" "main main" "separador separador" "galeria galeria" "footer footer"; }
  /* HEADER */
  .picsGrid {
    grid-area: nav; }
  /* MAIN */
  .mainPics {
    grid-area: main;
    background-color: black;
    color: white;
    justify-content: center;
    margin: 5px 0px; }
    .mainPics .contPicsMain {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.568); }
      .mainPics .contPicsMain h1 {
        text-align: center;
        font-size: 6rem;
        margin: 10px 10px;
        font-style: italic;
        font-weight: 700;
        animation-name: aparecerMainH1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: initial; }
      .mainPics .contPicsMain h2 {
        font-size: 2.5rem; }
      .mainPics .contPicsMain p {
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
        margin: 10px; }
  /* FOOTER */
  .footerPics {
    background-color: black;
    grid-area: footer;
    margin: 5px 0px; }
    .footerPics ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: baseline; }
  .homep {
    width: 150px; }
  .rrssFacep,
  .rrssIgp {
    width: 50px; }
  .wspStickyp {
    width: 55px; } }

/* TAMAÑO MOBILE */
@media screen and (max-width: 426px) {
  .contenedorPics {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.1fr 0.01fr 1fr 0.01fr;
    grid-template-areas: "nav" "main" "separador" "galeria" "footer"; }
  /* HEADER */
  .picsGrid {
    grid-area: nav; }
  /* MAIN */
  .mainPics {
    grid-area: main;
    background-color: black;
    color: white;
    justify-content: center;
    margin: 5px 0px; }
    .mainPics .contPicsMain {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.568); }
      .mainPics .contPicsMain h1 {
        text-align: center;
        font-size: 4rem;
        margin: 10px 10px;
        font-style: italic;
        font-weight: 700;
        animation-name: aparecerMainH1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: initial; }
      .mainPics .contPicsMain h2 {
        font-size: 2rem; }
      .mainPics .contPicsMain p {
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
        margin: 10px; }
  .imgGaleria {
    display: none; }
  .galeria-contenedor {
    grid-area: galeria;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    padding: 5px;
    grid-gap: 10px; }
    .galeria-contenedor .galeria__imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all 1s; }
      .galeria-contenedor .galeria__imagen:hover {
        filter: none; }
  .galeria__item {
    position: relative; }
  .galeria__item:nth-child(1) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(2) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 2; }
  .galeria__item:nth-child(4) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(5) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(6) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(7) {
    grid-column-start: span 1; }
  .galeria__item:nth-child(8) {
    grid-column-start: span 1; }
  /* FOOTER */
  .footerPics {
    background-color: black;
    grid-area: footer;
    margin: 5px 0px; }
    .footerPics ul {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: baseline; }
  .homep {
    width: 150px; }
  .rrssFacep,
  .rrssIgp {
    width: 50px; }
  .wspStickyp {
    width: 55px; } }

/* ______________MAP, MIXIN, EXTEND____________ */
/* Mapas pagina blog */
.mainBlogT {
  background-color: green; }

.art1T {
  background-color: red; }

.art2T {
  background-color: blue; }

.art3T {
  background-color: yellow; }

/* Extend pagina sesiones */
/* .pics2 {
    @extend .pics1;
    background-color: white;
    grid-area: sesion2;
}

.pics4 {
    @extend .pics1;
    background-color: white;
    grid-area: sesion4;
}

 */
/* Mixin pagina cursos */
.cultivoInt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px springgreen;
  margin: 20px 5px;
  background-color: black; }

.cultivoExt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px white;
  margin: 20px 5px;
  background-color: green; }

.cultivoHidro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  border: solid 3px springgreen;
  margin: 20px 5px;
  background-color: black; }
