/* _____________BLOG___________________ */

.headerBlog {
    img {
        width: 200px;
    }
}

/* MAIN BLOG */

.mainBlog {
    background-color: black;
    color: white;
    display: flex;
    margin: 10px;

    .cImgblog{
        padding: 0px;
        display: flex;
    }

}

.contBlog {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.mainBlogT {
    margin-top: 10px;
    padding: 15px;
    font-size: 4rem;
    font-style: italic;
    font-weight: 600;
    position: relative;
    right: 100px;
    text-align: center;

}

.mainBlogP {
    padding: 25px;
    font-size: 2.6rem;
    text-align: left;
    font-weight: 100;

    .nivelL1{
        font-style: italic;
        font-weight: bold;
    }
}

/* SECTION BLOG */


.noticiasBlog {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
/* ARTICULO 1 */
.art1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: black;
    margin: 30px;
}

.art1Img {
    width: 250px;
    height: 200px;
    border: solid 3px #4ab70b;
    border-radius: 50%;
    padding: 5px;;
}

.contArt1{
    display: flex;
    flex-direction: column;
}
.art1T {
    text-decoration: underline;
    margin: 10px;
    font-size: 4rem;
}

.art1P {
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}

.art1 a {
    text-decoration: none;
    color: black;
}

/* ARTICULO 2 */
.art2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: black;
    margin: 30px;
}

.art2Img {
    width: 250px;
    height: 200px;
    border: solid 3px #4ab70b;
    border-radius: 50%;
    padding: 5px;
}

.contArt2{
    display: flex;
    flex-direction: column;
}
.art2T {
    text-decoration: underline;
    margin: 10px;
    font-size: 4rem;
}

.art2P {
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}

.art2 a {
    text-decoration: none;
    color: black;
}
/* ARTICULO 3 */

.art3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: black;
    margin: 30px;
}

.art3Img {
    width: 250px;
    height: 200px;
    border: solid 3px #4ab70b;
    border-radius: 50%;
    padding: 5px;
}

.contArt3{
    display: flex;
    flex-direction: column;
}
.art3T {
    text-decoration: underline;
    margin: 10px;
    font-size: 4rem;
}

.art3P {
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}

.art3 a {
    text-decoration: none;
    color: black;
}

/* FOOTER BLOG */


.footerBlog {
    background-color: black;
    grid-area: footer;

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    }
}

.home {
    width: 150px;
}

.rrssFace,
.rrssIg {
    width: 50px;
}

.wspSticky {
    width: 55px;
}

/* TAMAÑO TABLET */
@media screen and (max-width: 1025px) {
    .mainBlog {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .imgMainblog {
        margin: 50px 0px;
        width: 500px;
        border: solid 5px #4ab70b;
    }

    .contBlog {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .mainBlogT {
        text-align: center;
        padding: 10px;
        font-size: 5rem;
        font-style: italic;
        font-weight: 700;
        transform: none;
        position: relative;
        left: 0px;
    }

    .mainBlogP {
        padding: 25px;
        font-size: 2rem;
        text-align: center;
    }
}


/* TAMAÑO CELULAR */
@media screen and (max-width: 426px) {
    .headerBlog {
        background-color: #F8F9FA;

        img {
            width: 200px;
        }
    }

    /* MAIN BLOG */


    .mainBlog {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px 0px;
    }

    .imgMainblog {
        width: 300px;
    }

    .contBlog {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
    }

    .mainBlogT {
        font-size: 2rem;
        font-style: italic;
        font-weight: 600;
    }

    .mainBlogP {
        font-size: 1.4rem;
        text-align: left;
    }

    /* SECTION BLOG */


    .noticiasBlog {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 5px 0px;
    }

    .art1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        margin: 5px 0px;
    }

    .art1T {
        text-decoration: underline;
        margin: 5px 0px;
        font-size: 2rem;
        text-align: center;
    }

    .art1P {
        text-align: justify;
        margin: 15px 0px;
        font-size: 1.4rem;
        margin: 2px;
    }

    .art1Img {
        width: 300px;
    }

    .art1 a {
        text-decoration: none;
        color: black;
    }
/* articulo 2 */
.art2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin: 5px 0px;
}

.art2T {
    text-decoration: underline;
    margin: 5px 0px;
    font-size: 2rem;
    text-align: center;
}

.art2P {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.4rem;
    margin: 2px;
}

.art2Img {
    width: 300px;
}

.art2 a {
    text-decoration: none;
    color: black;
}

/* articulo 3 */
.art3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    margin: 5px 0px;
}

.art3T {
    text-decoration: underline;
    margin: 5px 0px;
    font-size: 2rem;
    text-align: center;
}

.art3P {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.4rem;
    margin: 2px;
}

.art3Img {
    width: 300px;
}

.art3 a {
    text-decoration: none;
    color: black;
}

    /* FOOTER BLOG */

    .footerBlog {
        background-color: black;
        grid-area: footer;

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: baseline;
        }
    }

    .home {
        width: 150px;
    }

    .rrssFace,
    .rrssIg {
        width: 50px;
    }

    .wspSticky {
        width: 55px;
    }
}