/* ____________CONTACTO___________ */

/* HEADER CONTACTO */
.contactoMain{
    background-color: #808080;
    background-image: url(../imagenes/iconos-mockups/bg-dibujos2.jpg);
    padding: 50px 0px;
    font-size: 1.5rem;
    color: white;
    .containerform{
        background: rgba(0, 0, 0, 0.493);
        .backg{
            background-image: url(../imagenes/imagenes-sin-usar/fondo-1-min.jpg);
            background-position: center center;
        }

        .contactoHijo{
            padding: 25px;
        }
    }
}

.subtituloContacto{
    font-size: 2rem;
}



.containerLogo{
    display: flex;
    justify-content: end;
    .logoContacto{
        width: 150px;
        padding: 5px;
        background-color: black;
        border-radius: 20px 0px;
    }
}

.subtituloContacto{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 5px;
    font-size: 3rem;
}

.formContacto{
    div{
        margin-bottom: 10px;
    }
}

.prueba{
    background: #808080;
    h3{
        font-size: 5rem;
        font-family: 'Abril Fatface';
        text-align: center;
        margin: 10px 0px;
        border-radius: 10px;
    }
}
/* FOOTER CONTACTO */

.footerContacto {
    background-color: black;
    

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    }
}

.home {
    width: 150px;
}

.rrssFace,
.rrssIg {
    width: 50px;
}

.wspSticky {
    width: 55px;
}

@media screen and (max-width: 426px){
    .prueba{
        background: #808080;
        h3{
            font-size: 2rem;
            font-family: 'Abril Fatface';
            text-align: center;
            margin: 10px 0px;
            border-radius: 10px;
        }
    }

    .logoContacto{
        display: none;
    }
}