/* _________CURSOS_________ */

.headerCursos {
    background-color: #F8F9FA;

    img {
        width: 200px;
    }
}

/* MAIN CURSOS */


.mainCursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;

    h2 {
        font-size: 5rem;
        color: white;
        margin: 20px;
        text-align: center;
    }

    p {
        font-size: 3rem;
        color: white;
        margin: 20px;
        text-align: center;
    }
}

/* SECTION CURSOS */


.sectionCdispo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
    background-color: black;
}

.cultivoInt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
}

.intImg {
    width: 300px;
    height: 200px;
    margin: 10px 5px;
}

.cultivoInt {
    h2 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-style: italic;
    }

    p {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        margin: 25px;
    }

    a {
        text-decoration: underline;
        color: white;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        border: solid 2px #4ab70b;
    }
}

.cultivoExt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
}

.cultivoeExImg {
    width: 300px;
    height: 200px;
    margin: 10px 5px;
}

.cultivoExt {
    h2 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-style: italic;
    }

    p {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        margin: 25px;
    }

    a {
        text-decoration: underline;
        color: white;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        border: solid 2px #4ab70b;
    }
}

.cultivoHidro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
}

.hidroImg {
    width: 300px;
    height: 200px;
    margin: 10px 5px;
}

.cultivoHidro {
    h1 {
        color: white;
        font-size: 3rem;
        text-align: center;
        font-style: italic;
    }

    p {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        margin: 25px;
    }

    a {
        text-decoration: underline;
        color: white;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        border: solid 2px #4ab70b;
    }
}

/* SECTION TABLAS CURSOS */


.tablaComisiones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comisiones {
    font-size: 3rem;
    margin: 10px 0px 25px 0px;
    font-style: italic;
}

.tablita {
    width: 500px;
    height: 250px;
}

/* FOOTER CURSOS */

.footerCursos {
    margin: 25px 0px 0px 0px;
    background-color: black;
    grid-area: footer;

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    }
}

.home {
    width: 150px;
}

.rrssFace,
.rrssIg {
    width: 50px;
}

.wspSticky {
    width: 55px;
}

/* TAMAÑO TABLET  CURSOS */

@media screen and (max-width: 1025px) {
    .sectionCdispo {
        justify-content: center;
    }
}

/* TAMAÑO CELULAR CURSOS */

@media screen and (max-width: 426px) {
    .headerCursos {
        background-color: #F8F9FA;

        img {
            width: 200px;
        }
    }

    .mainCursos {
        font-size: 2rem;

        p {
            font-size: 1.5rem;
        }
    }

    .tablita {
        width: 300px;
        height: 400px;
    }
}