/* PICS420 */

/* GRIDS PICS420 */

.contenedorPics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.01fr 0.4fr 1fr 0.1fr;
    grid-template-areas:"nav nav nav nav "
                        "main main main main "  
                        "sesion1 sesion2 sesion3 sesion4"   
                        "footer footer footer footer";
}

/* HEADER */



.picsGrid {
    grid-area: nav;
}

.headerPics {
    background-color: #F8F9FA;

    img {
        width: 200px;
    }
}

/* MAIN */

.mainPics {
    grid-area: main;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;

    h1 {
        font-size: 8rem;
        margin: 10px 10px;
        font-style: italic;
        font-weight: 700;
        animation-name: aparecerMainH1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: initial;
    }

    img {
        width: 400px;
        padding: 10px 10px;
        border: solid 4px #4ab70b;
    }

    p {
        font-size: 2rem;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}

@keyframes aparecerMainH1 {
    0% {
        opacity: 0%;
        transform: translate(-100px);
    }

    10% {
        opacity: 10%;
    }

    20% {
        opacity: 20%;
    }

    30% {
        opacity: 30%;
    }

    40% {
        opacity: 40%;
    }

    50% {
        opacity: 50%;
    }

    60% {
        opacity: 60%;
    }

    70% {
        opacity: 70%;
    }

    80% {
        opacity: 80%;
    }

    90% {
        opacity: 90%;
    }

    100% {
        opacity: 100%;
        transform: translate(0px);
    }
}

/* PICS1 */

.pics1 {
    grid-area: sesion1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 4rem;
        font-style: italic;
    }

    img {
        width: 200px;
        border: solid 3px white;
        padding: 5px;
        filter: grayscale(100%);
        transition: all 1s;

        &:hover {
            width: 350px;
            margin: 10px;
            filter: none;
        }
    }
}

/* PICS2 */

.pics2 {
    grid-area: sesion2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 4rem;
        font-style: italic;
    }

    img {
        width: 200px;
        border: solid 3px white;
        padding: 5px;
        filter: grayscale(100%);
        transition: all 1s;

        &:hover {
            width: 350px;
            margin: 10px;
            filter: none;
        }
    }
}

/* PICS3*/

.pics3 {
    grid-area: sesion3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 4rem;
        font-style: italic;
    }

    img {
        width: 200px;
        border: solid 3px white;
        padding: 5px;
        filter: grayscale(100%);
        transition: all 1s;

        &:hover {
            width: 350px;
            margin: 10px;
            filter: none;
        }
    }
}

/* PICS4 */

.pics4 {
    grid-area: sesion4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

    h1 {
        color: white;
        font-size: 4rem;
        font-style: italic;
    }

    img {
        width: 200px;
        border: solid 3px white;
        padding: 5px;
        filter: grayscale(100%);
        transition: all 1s;

        &:hover {
            width: 350px;
            margin: 10px;
            filter: none;
        }
    }
}

/* FOOTER  */


.footerPics {
    background-color: black;
    grid-area: footer;
    margin: 5px 0px;

    ul {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    }
}

.rrssp {
    list-style: none;
}

.homep {
    width: 150px;
}

.rrssFacep,
.rrssIgp {
    width: 50px;
}

.wspStickyp {
    width: 55px;
}

/* TAMAÑO TABLET */

@media screen and (max-width: 1025px){
    .contenedorPics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.01fr 0.9fr 1fr 1fr 0.1fr;
        grid-template-areas:"nav nav"
                            "main main"
                            "sesion1 sesion2"
                            "sesion4 sesion3"
                            "footer footer";
    }

    /* HEADER */

    .picsGrid {
        grid-area: nav;
    }

    /* MAIN */

    .mainPics {
        grid-area: main;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;

        h1 {
            font-size: 8rem;
            margin: 10px 10px;
            font-style: italic;
            font-weight: 700;
        }

        img {
            width: 400px;
            padding: 10px 10px;
            border: solid 4px #4ab70b;
        }

        p {
            font-size: 2rem;
            text-align: center;
            padding: 10px;
            margin: 10px;
        }
    }

    /* PICS1 */

    .pics1 {
        grid-area: sesion1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 4rem;
            font-style: italic;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
        }
    }

    /* PICS2 */

    .pics2 {
        grid-area: sesion2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 4rem;
            font-style: italic;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
        }
    }

    /* PICS3*/

    .pics3 {
        grid-area: sesion3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 4rem;
            font-style: italic;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
        }
    }

    /* PICS4 */

    .pics4 {
        grid-area: sesion4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 4rem;
            font-style: italic;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
        }
    }

    /* FOOTER */

    .footerPics{
        background-color: black;
        grid-area: footer;
        margin: 5px 0px;

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: baseline;
        }
    }

    .homep{
        width: 150px;
    }

    .rrssFacep,
    .rrssIgp {
        width: 50px;
    }

    .wspStickyp {
        width: 55px;
    }
}

/* TAMAÑO MOBILE */

@media screen and (max-width: 426px) {
    .contenedorPics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 0.9fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas:"nav"
                            "main"
                            "sesion1"
                            "sesion2"
                            "sesion3"
                            "sesion4"
                            "footer";
    }

    /* HEADER */

    .picsGrid {
        grid-area: nav;
    }

    /* MAIN */

    .mainPics {
        grid-area: main;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;

        h1 {
            font-size: 4rem;
            margin: 10px 10px;
            font-style: italic;
            font-weight: 700;
        }

        img {
            width: 300px;
            padding: 10px 10px;
            border: solid 4px #4ab70b;
        }

        p {
            font-size: 1.5rem;
            text-align: center;
            padding: 10px;
            margin: 10px;
        }
    }

    /* PICS1 */

    .pics1 {
        grid-area: sesion1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 2.5rem;
            font-style: italic;
            margin: 10px 0px;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
            margin: 10px 0px;
            transition: all 1s;

            &:hover {
                filter: none;
                width: 300px;
            }
        }
    }

    /* PICS2 */

    .pics2 {
        grid-area: sesion2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 2.5rem;
            font-style: italic;
            margin: 10px 0px;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
            margin: 10px 0px;
            transition: all 1s;

            &:hover {
                filter: none;
                width: 300px;
            }
        }
    }

    /* PICS3*/

    .pics3 {
        grid-area: sesion3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 2.5rem;
            font-style: italic;
            margin: 10px 0px;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
            margin: 10px 0px;
            transition: all 1s;

            &:hover {
                filter: none;
                width: 300px;
            }
        }
    }

    /* PICS4 */

    .pics4 {
        grid-area: sesion4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;

        h1 {
            color: white;
            text-decoration: underline;
            font-size: 2.5rem;
            font-style: italic;
            margin: 10px 0px;
        }

        img {
            width: 300px;
            border: solid 3px white;
            padding: 5px;
            margin: 10px 0px;
            transition: all 1s;

            &:hover {
                filter: none;
                width: 300px;
            }
        }
    }

    /* FOOTER */

    .footerPics {
        background-color: black;
        grid-area: footer;
        margin: 5px 0px;

        ul {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            align-items: baseline;
        }
    }

    .homep {
        width: 150px;
    }

    .rrssFacep,
    .rrssIgp {
        width: 50px;
    }

    .wspStickyp {
        width: 55px;
    }
}