*{
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/* GRIDS INDEX */

.contenedor_total{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.01fr 0.9fr 1fr 1fr 0.1fr;
    grid-template-areas: 
    "logo logo logo "
    "nav nav nav "
    "main main main "
    "cursos  cursos cursos"
    "tienda tienda tienda " 
    "footer footer footer "
    ; 
}

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
.headerIndex{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;
}
.headerIndex img{
    width: 400px;
}

/* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */

.navegacionIndex{
    background-color: black;
    grid-area: nav;
}
/* PASOS DEL SUBMENU */
/* Primero a los "li" del menu les digo que se comporte inline-block para poder darle padding arriba y abajo
Luego le damos position relative, no pierdas el espacio pero dejame ponerte elementos atras */
.menuIndex li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

/* Sacar los subrayados de los enlaces */
.menuIndex li a{
    color: white;
    text-decoration: none;  
}

/* Al ul "submenu" le digo que se oculte con display none y ponete en una posicion absolute "vola" todavia no te estoy dando ninguna ubicacion */
.submenu{
    display: none;
    position: absolute;
}

/* El contenedor ya esta volando pero las li del submenu quiero que se comporten como bloque uno abajo de otro
display block */
/* Al ser elementos de bloque les puedo dar un padding */

.submenu li{
    display: block;
    background-color: black;
    padding: 5px 0px;
}

/* "hover" dice que cuando pases por encima de este elemento */
/* .menu estas llamando la clase
.li elementos:cuando pases por encima hover mostrame el elemento ul
display:block */

/* Es decir ahora si mostrame el elemento */

.menuIndex li:hover ul{
    display: block;
}

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.mainIndex{
    grid-area: main;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 0px;
}
.mainIndex h1{
    font-size: 8rem;
    margin: 25px 10px;
    font-style: italic;
    font-weight: 700;
}
.mainIndex img{
    width: 600px;
    padding: 100px 10px;
    /* border: solid 4px #4ab70b; */
}

.mainIndex p{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
}


/* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS */
.cursosIndex{
    background-color: black;
    color: white;
    grid-area: cursos;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
}
.cursosIndex h1{
    font-size: 4rem;
    margin: 10px;
    font-style: italic;
    font-weight: 700;
}

.cursosIndex p{
    font-size: 1.5rem;
    margin: 25px;
}

.cursosIndex div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cursosIndex img{
    width: 750px;
    margin: 25px;
 
}

.indexIrcurso {
    animation: jackInTheBox;
    animation-duration: 2s;
}
.cursosIndex a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin: 10px 25px;
    padding: 5px;
    border: solid 3px rgba(9, 180, 9, 0.836);
}


/* SECTION TIENDA *//* SECTION TIENDA *//* SECTION TIENDA *//* SECTION TIENDA *//* SECTION TIENDA */

.tiendaIndex{
    grid-area: tienda;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.tiendaTp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px;
}

.tiendaTp h1{
    font-size: 4rem;
    margin-right: 25px;
    font-style: italic;
    font-weight: 700;
}

.tiendaTp p{
    font-size: 1.5rem;
    margin-right: 25px;
}

.tiendaImga{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tiendaImga img{
    width: 700px;
    margin: 20px;
}

.tiendaImga a{
    text-decoration: none;
    font-size: 3rem;
    color: white;
    background-color: black;
    border: solid 3px rgba(9, 180, 9, 0.836);
    margin: 25px;
    padding: 5px;

}

.indexIrtienda{
    animation: jackInTheBox;
    animation-duration: 2s;
}


/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

.footerIndex{
    background-color: black;
    grid-area: footer;
}
.footerIndex ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.home{
    width: 150px;
}
.rrssFace{
    width: 50px;
}
.rrssIg{
    width: 50px;
}
.wspSticky{
    width: 55px;    
}

/* TABLET */

 @media screen and (max-width: 1025px){
    .contenedor_total{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.4fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas: 
        "logo logo"
        "nav nav"
        "main main"
        "cursos cursos"
        "tienda tienda" 
        "footer footer"
        ; 
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .headerIndex {
        grid-area: logo;
    }

    .navegacionIndex{
        grid-area: nav;
        background-color: rgba(9, 180, 9, 0.836);
        color: black;
    }
    .submenu li{
        background-color: rgba(9, 180, 9, 0.836);
    }
    .mainIndex{
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mainIndex h1{
        font-size: 6rem;
    }
    .mainIndex img{
        margin: 10px;
        padding: 0px;
        width: 400px;
    }
    .cursosIndex{
        grid-area: cursos;
    }
    .contIndex img{
        width: 400px;
    }
    .tiendaIndex{
        grid-area: tienda;
    }

    .tiendaImga img{
        width: 400px;
    }

    .footerIndex{
        grid-area: footer;
    }
}

/* TAMAÑO MOBILE */

@media screen and (max-width: 460px){
    .contenedor_total{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.4fr 0.5fr 0.5fr 0.1fr;
        grid-template-areas: 
        "logo"
        "nav"
        "main"
        "cursos"
        "tienda" 
        "footer"
        ; 
    }
    .headerIndex{
        grid-area: logo;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .headerIndex img{
        width: 320px;
    }
    .navegacionIndex{
        grid-area: nav;
        background-color: grey;
    }
    .navegacionIndex ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navegacionIndex ul li{
        font-size: 4.5rem;
    }
    .menuIndex li ul{
        display: none;
    }
    
    .mainIndex{
        grid-area: main;
    }

    .mainIndex h1{
        font-size: 5rem;
    }
    .mainIndex img{
        width: 300px;
    }
    .cursosIndex {
        grid-area: cursos;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contIndex img{
        width: 300px;
    }

    .cursosIndex p{
        font-size: 2rem;
    }
    
    .tiendaIndex{
        grid-area: tienda;
    }

    .tiendaImga img{
        width: 300px;
    }

    .footerIndex p{
        font-size: 2rem;
    }

    .footerIndex{
        grid-area: footer;
        background-color: gray;
    }

    .footerIndex ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

/* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 *//* PICS420 */

/* GRIDS PICS420 */

.contenedorPics{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.01fr 0.9fr 1fr 0.1fr;
    grid-template-areas: 
    "logo logo logo logo "
    "nav nav nav nav "
    "main main main main "
    "sesion1 sesion2 sesion3 sesion4" 
    "footer footer footer footer"
    ; 
}

/* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
.headerPics{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;
}
.headerPics img{
    width: 400px;
}

/* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */

.navegacionPics{
    background-color: black;
    grid-area: nav;
}
/* PASOS DEL SUBMENU */
/* Primero a los "li" del menu les digo que se comporte inline-block para poder darle padding arriba y abajo
Luego le damos position relative, no pierdas el espacio pero dejame ponerte elementos atras */
.menuPics li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

/* Sacar los subrayados de los enlaces */
.menuPics li a{
    color: white;
    text-decoration: none;  
}

/* Al ul "submenu" le digo que se oculte con display none y ponete en una posicion absolute "vola" todavia no te estoy dando ninguna ubicacion */
.submenuPics{
    display: none;
    position: absolute;
}

/* El contenedor ya esta volando pero las li del submenu quiero que se comporten como bloque uno abajo de otro
display block */
/* Al ser elementos de bloque les puedo dar un padding */

.submenuPics li{
    display: block;
    background-color: black;
    padding: 5px 0px;
}

/* "hover" dice que cuando pases por encima de este elemento */
/* .menu estas llamando la clase
.li elementos:cuando pases por encima hover mostrame el elemento ul
display:block */

/* Es decir ahora si mostrame el elemento */

.menuPics li:hover ul{
    display: block;
}

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.mainPics{
    grid-area: main;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

@keyframes aparecerMainH1{
    0%{
        opacity: 0%;
        transform: translate(-100px);
    }
    10%{
        opacity: 10%;
    }
    20%{
        opacity: 20%;
    }
    30%{
        opacity: 30%;
    }
    40%{
        opacity: 40%;
    }
    50%{
        opacity: 50%;
    }
    60%{
        opacity: 60%;
    }
    70%{
        opacity: 70%;
    }
    80%{
        opacity: 80%;
    }
    90%{
        opacity: 90%;
    }
    100%{
        opacity: 100%;
        transform: translate(0px);
    }
}


.mainPics h1{
    font-size: 8rem;
    margin: 10px 10px;
    font-style: italic;
    font-weight: 700;

    animation-name: aparecerMainH1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: initial;
}
.mainPics img{
    width: 400px;
    padding: 10px 10px;
    border: solid 4px #4ab70b;
}

.mainPics p{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* PICS1 */
.pics1{
    grid-area: sesion1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}


.pics1 h1{
    color: white;
    font-size: 4rem;
    font-style: italic;
    
}

.pics1 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    filter: grayscale(100%);
    transition: all 1s;
}

.pics1 img:hover{
    width: 400px;
    margin: 10px;
    filter: none;
}

/* PICS2 */
.pics2{
    grid-area: sesion2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;    
}
.pics2 h1{
    color: white;
    font-size: 4rem;
    font-style: italic;
    
}

.pics2 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    filter: grayscale(100%);
    transition: all 1s;
}

.pics2 img:hover{
    width: 400px;
    margin: 10px;
    filter: none;
}


/* PICS3*/
.pics3{
    grid-area: sesion3;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.pics3 h1{
    color: white;
    font-size: 4rem;
    font-style: italic;
    
}

.pics3 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    filter: grayscale(100%);
    transition: all 1s;
}

.pics3 img:hover{
    width: 400px;
    margin: 10px;
    filter: none;
}

/* PICS4 */
.pics4{
    grid-area: sesion4;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.pics4 h1{
    color: white;
    font-size: 4rem;
    font-style: italic;
    
}   

.pics4 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    filter: grayscale(100%);
    transition: all 1s;
}

.pics4 img:hover{
    width: 400px;
    margin: 10px;
    filter: none;
}

/* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  *//* FOOTER  */

.footerPics{
    background-color: black;
    grid-area: footer;
    margin: 5px 0px;
}
.footerPics ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.homep{
    width: 150px;
}
.rrssFacep{
    width: 50px;
}
.rrssIgp{
    width: 50px;
}
.wspStickyp{
    width: 55px;    
}

/* TAMAÑO TABLET */

/* @media screen and (max-width: 1025px){
    
} */

@media screen and (max-width: 1025px){
    .contenedorPics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.01fr 0.9fr 1fr 1fr 0.1fr;
    grid-template-areas: 
    "logo logo"
    "nav nav"
    "main main"
    "sesion1 sesion2" 
    "sesion4 sesion3" 
    "footer footer"
    ; 
}

/* HEADER */
.headerIndex{
    grid-area: logo;

}
/* NAV */
.navegacionPics{
    background-color: #4ab70b;
    grid-area: nav;
}

.submenuPics{
    background-color: #4ab70b;
}

/* MAIN */
.mainPics{
    grid-area: main;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.mainPics h1{
    font-size: 8rem;
    margin: 10px 10px;
    font-style: italic;
    font-weight: 700;
}
.mainPics img{
    width: 400px;
    padding: 10px 10px;
    border: solid 4px #4ab70b;
}

.mainPics p{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* PICS1 */
.pics1{
    grid-area: sesion1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.pics1 h1{
    color: white;
    text-decoration: underline;
    font-size: 4rem;
    font-style: italic;
    
}

.pics1 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
}

/* PICS2 */
.pics2{
    grid-area: sesion2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;    
}
.pics2 h1{
    color: white;
    text-decoration: underline;
    font-size: 4rem;
    font-style: italic;
    
}

.pics2 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
}

/* PICS3*/
.pics3{
    grid-area: sesion3;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.pics3 h1{
    color: white;
    text-decoration: underline;
    font-size: 4rem;
    font-style: italic;
    
}

.pics3 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
}

/* PICS4 */
.pics4{
    grid-area: sesion4;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.pics4 h1{
    color: white;
    text-decoration: underline;
    font-size: 4rem;
    font-style: italic;
    
}   

.pics4 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
}

/* FOOTER */
.footerPics{
    background-color: black;
    grid-area: footer;
    margin: 5px 0px;
}
.footerPics ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.homep{
    width: 150px;
}
.rrssFacep{
    width: 50px;
}
.rrssIgp{
    width: 50px;
}
.wspStickyp{
    width: 55px;    
}

}

/* TAMAÑO MOBILE */

@media screen and (max-width: 426px){
    .contenedorPics{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.01fr 0.9fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas: 
    "logo"
    "nav"
    "main"
    "sesion1"
    "sesion2"
    "sesion3" 
    "sesion4" 
    "footer"
    
    ; 
}

/* HEADER */
.headerPics{
    grid-area: logo;
}

.headerPics img{
    width: 250px;
}

/* NAV */
.navegacionPics{
    background-color: grey;
    grid-area: nav;
}

.menuPics{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center
}

.menuPics li{
    font-size: 2.5rem;
}
.submenuPics li{
    background-color: #4ab70b;
    display: none;
}

/* MAIN */
.mainPics{
    grid-area: main;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}
.mainPics h1{
    font-size: 4rem;
    margin: 10px 10px;
    font-style: italic;
    font-weight: 700;
}
.mainPics img{
    width: 300px;
    padding: 10px 10px;
    border: solid 4px #4ab70b;
}

.mainPics p{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* PICS1 */
.pics1{
    grid-area: sesion1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.pics1 h1{
    color: white;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
    margin: 10px 0px;
    
}

.pics1 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    margin: 10px 0px;
}

/* PICS2 */
.pics2{
    grid-area: sesion2;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;    
}
.pics2 h1{
    color: white;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
    margin: 10px 0px;
    
}

.pics2 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    margin: 10px 0px;
}

/* PICS3*/
.pics3{
    grid-area: sesion3;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.pics3 h1{
    color: white;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
    margin: 10px 0px;
    
}

.pics3 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    margin: 10px 0px;
}

/* PICS4 */
.pics4{
    grid-area: sesion4;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}
.pics4 h1{
    color: white;
    text-decoration: underline;
    font-size: 2.5rem;
    font-style: italic;
    margin: 10px 0px;
    
}   

.pics4 img{
    width: 300px;
    border: solid 3px white;
    padding: 5px;
    margin: 10px 0px;
}

/* FOOTER */
.footerPics{
    background-color: black;
    grid-area: footer;
    margin: 5px 0px;
}
.footerPics ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.homep{
    width: 150px;
}
.rrssFacep{
    width: 50px;
}
.rrssIgp{
    width: 50px;
}
.wspStickyp{
    width: 55px;    
}

}

/* PAGINA BLOG *//* PAGINA BLOG *//* PAGINA BLOG *//* PAGINA BLOG *//* PAGINA BLOG *//* PAGINA BLOG */

/* HEADER BLOG *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
.headerBlog{
    background-color: white;
    display: flex;
    justify-content: center;
    
    
}
.headerBlog img{
    width: 400px;
}

/* NAVEGACION BLOG *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */

.navegacionBlog{
    background-color: black;
    grid-area: nav;
}
.menuBlog li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

.menuBlog li a{
    color: white;
    text-decoration: none;  
}

.submenuBlog{
    display: none;
    position: absolute;
}

.submenuBlog li{
    display: block;
    background-color: black;
    padding: 5px 0px;
}

.menuBlog li:hover ul{
    display: block;
}

/* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG */

.mainBlog{
    background-color: black;
    color: white;
    display: flex;
    margin: 10px;
}

.imgMainblog{
    width: 1000px;
}
.contBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBlogT{
    padding: 15px;
    font-size: 4rem;
    font-style: italic;
    font-weight: 600;
}

.mainBlogP{
    padding: 25px;
    font-size: 1.5rem;
    text-align: justify;
}

/* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG */

.noticiasBlog{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}


.art1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 5px;
}
.art1T{
    text-decoration: underline;
    margin: 10px;
    font-size: 5rem;
}

.art1P{
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}
.art1Img{
    width: 400px;
}

.art1 a{
    text-decoration: none;
    color: black;
}

.art2{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.art2T{
    text-decoration: underline;
    margin: 10px;
    font-size: 5rem;
}

.art2P{
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}
.art2Img{
    width: 400px;
}

.art2 a{
    text-decoration: none;
    color: white;
}

.art3{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 5px;
}
.art3T{
    text-decoration: underline;
    margin: 10px;
    font-size:5rem;
}

.art3P{
    text-align: justify;
    margin: 15px 25px;
    font-size: 2rem;
}
.art3Img{
    width: 400px;
}

.art3 a{
    text-decoration: none;
    color: black;
}

/* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG */

.footerBlog{
    background-color: black;
    grid-area: footer;
}
.footerBlog ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.home{
    width: 150px;
}
.rrssFace{
    width: 50px;
}
.rrssIg{
    width: 50px;
}
.wspSticky{
    width: 55px;    
}

/* TAMAÑO TABLET */
@media screen and (max-width: 1025px){
    .mainBlog{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.imgMainblog{
    margin: 25px 0px;
    width: 500px;
    border: solid 5px #4ab70b;
}
.contBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBlogT{
    text-align: center;
    padding: 10px;
    font-size: 5rem;
    font-style: italic;
    font-weight: 700;
    transform: none;
}

.mainBlogP{
    padding: 25px;
    font-size: 2rem;
    text-align: center;
}
}

/* TAMAÑO CELULAR */
@media screen and (max-width: 426px){
    
    .headerBlog{
        background-color: white;
        display: flex;
        justify-content: center;
        
        
    }
    .headerBlog img{
        width: 200px;
    }
    
    /* NAVEGACION BLOG  *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */
    
    .navegacionBlog{
        background-color: black;
    }

    .menuBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuBlog li{
        font-size: 2rem;
        font-weight: 600;
        color: white;
        display: inline-block;
        position: relative;
        padding: 10px 10px;
    }
    
    .menuBlog li a{
        color: white;
        text-decoration: none;  
    }
    
    .submenuBlog{
        visibility: hidden;
        display: none;
        position: absolute;
    }
    
    .submenuBlog li{
        display: block;
        background-color: black;
        padding: 5px 0px;
    }
    
    .menuBlog li:hover ul{
        display: block;
    }
    
    /* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG *//* MAIN BLOG */
    
    .mainBlog{
        background-color: black;
        color: white;
        display: flex;
        margin: 5px 0px;
    }
    
    .imgMainblog{
        width: 250px;
    }
    .contBlog{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 5px;
    }
    
    .mainBlogT{
        padding: 15px;
        font-size: 2rem;
        font-style: italic;
        font-weight: 600;
    }
    
    .mainBlogP{
        padding: 25px;
        font-size: 1rem;
        text-align: justify;
        margin: 5px;
        padding: 0px;
    }
    
    /* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG *//* SECTION BLOG */
    
    .noticiasBlog{
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    
    
    .art1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        margin: 5px;
    }
    .art1T{
        text-decoration: underline;
        margin: 10px 0px;
        font-size: 2rem;
        text-align: center;
    }
    
    .art1P{
        text-align: justify;
        margin: 15px 0px;
        font-size: 1rem;
    }
    .art1Img{
        width: 300px;
    }
    
    .art1 a{
        text-decoration: none;
        color: black;
    }
    
    .art2{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 5px;
    }
    .art2T{
        text-decoration: underline;
        margin: 10px 0px;
        font-size: 2rem;
    }
    
    .art2P{
        text-align: justify;
        margin: 15px 0px;
        padding: 5px;
        font-size: 1rem;
    }
    .art2Img{
        width: 300px;
    }
    
    .art2 a{
        text-decoration: none;
        color: white;
    }
    
    .art3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        margin: 5px;
    }
    .art3T{
        text-decoration: underline;
        margin: 10px 0px;
        font-size: 2rem;
    }
    
    .art3P{
        text-align: justify;
        margin: 15px 0px;
        font-size: 1rem;
    }
    .art3Img{
        width: 300px;
    }
    
    .art3 a{
        text-decoration: none;
        color: black;
    }
    
    /* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG *//* FOOTER BLOG */
    
    .footerBlog{
        background-color: black;
        grid-area: footer;
    }
    .footerBlog ul{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    }
    
    .home{
        width: 150px;
    }
    .rrssFace{
        width: 50px;
    }
    .rrssIg{
        width: 50px;
    }
    .wspSticky{
        width: 55px;    
    }
}

/* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO *//* CONTACTO */


/* HEADER CONTACTO *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */
.headerContacto{
    background-color: white;
    display: flex;
    justify-content: center;
}

.headerContacto img{
    width: 400px;
}

/* CONTACTO BLOG *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */

.navegacionContacto{
    background-color: black;
    grid-area: nav;
}
.menuContacto li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

.menuContacto li a{
    color: white;
    text-decoration: none;  
}

.submenuContacto{
    display: none;
    position: absolute;
}

.submenuContacto li{
    display: block;
    background-color: black;
    padding: 5px 0px;
}

.menuContacto li:hover ul{
    display: block;
}

/* MAIN CONTACTO *//* MAIN CONTACTO *//* MAIN CONTACTO *//* MAIN CONTACTO *//* MAIN CONTACTO */

.mainContacto{
    background-color: black;
}

.contactoT{
    color: white;
}

.formContacto fieldset{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.formContacto{
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px;
    font-size: 2rem;
}

.formContacto label{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px;
    padding: 5px 5px;

}

.formContacto legend{
    margin: 10px 10px;
}

.textarea{
    transition: all 2s;
}

.textarea:hover{
    height: 200px;
    font-size: 3rem;
}

.botonForm{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.botonForm input{
    margin: 5px;
}


/* FOOTER CONTACTO *//* FOOTER CONTACTO *//* FOOTER CONTACTO *//* FOOTER CONTACTO *//* FOOTER CONTACTO *//* FOOTER CONTACTO */

.footerContacto{
    background-color: black;
    grid-area: footer;
}
.footerContacto ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.home{
    width: 150px;
}
.rrssFace{
    width: 50px;
}
.rrssIg{
    width: 50px;
}
.wspSticky{
    width: 55px;    
}

/* TAMAÑO TABLET */
@media screen and (max-width: 1025px){
    .mainContacto{
        background-color: black;
    }
    
    .contactoT{
        color: white;
    }
    
    .formContacto fieldset{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .formContacto{
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 10px 0px;
        font-size: 2rem;
    }
    
    .formContacto label{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 5px 5px;
        padding: 5px 5px;
    
    }
    
    .formContacto legend{
        margin: 10px 10px;
    }
    
    .textarea{
        height: 50rem;
        width: 50rem;
    }
    
    
    .botonForm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 5px;
    }
    
    .botonForm input{
        margin: 5px;
    }
    
}

/* TAMAÑOS CELULAR */
@media screen and (max-width: 426px){
    .headerContacto{
        background-color: white;
        display: flex;
        justify-content: center;
        
        
    }
    .headerContacto img{
        width: 200px;
    }
    
    /* NAVEGACION BLOG  *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */
    
    .navegacionContacto{
        background-color: black;
    }

    .menuContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menuContacto li{
        font-size: 2rem;
        font-weight: 600;
        color: white;
        display: inline-block;
        position: relative;
        padding: 10px 10px;
    }
    
    .menuContacto li a{
        color: white;
        text-decoration: none;  
    }
    
    .submenuContacto{
        visibility: hidden;
        display: none;
        position: absolute;
    }
    
    .submenuContacto li{
        display: block;
        background-color: black;
        padding: 5px 0px;
    }
    
    .menuContacto li:hover ul{
        display: block;
    }

    .textarea{
        height: 20rem;
        width: 30rem;
    }

}


/* CURSOS *//* CURSOS *//* CURSOS *//* CURSOS *//* CURSOS *//* CURSOS *//* CURSOS *//* CURSOS */

/* HEADER CONTACTO *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER *//* HEADER */

.headerCursos{
    background-color: white;
    display: flex;
    justify-content: center;
    
    
}
.headerCursos img{
    width: 400px;
}

/* CONTACTO BLOG *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION *//* NAVEGACION */

.navegacionCursos{
    background-color: black;
    grid-area: nav;
}
.menuCursos li{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}

.menuCursos li a{
    color: white;
    text-decoration: none;  
}

.submenuCursos{
    display: none;
    position: absolute;
}

.submenuCursos li{
    display: block;
    background-color: black;
    padding: 5px 0px;
}

.menuCursos li:hover ul{
    display: block;
}

/* MAIN CURSOS *//* MAIN CURSOS *//* MAIN CURSOS *//* MAIN CURSOS *//* MAIN CURSOS *//* MAIN CURSOS */

.mainCursos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.mainCursos h1{
    font-size: 5rem;
    color: white;
    margin: 20px;
    text-align: center;
}

.mainCursos p{
    font-size: 3rem;
    color: white;
    margin: 20px;
    text-align: center;
}

/* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS *//* SECTION CURSOS */

.sectionCdispo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0px;
    background-color: black;

}

.cultivoInt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
}

.intImg{
    width: 300px;
    height: 200px;
    margin: 10px 5px;

}

.cultivoInt h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    
}

.cultivoInt p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 25px;
    
}

.cultivoInt a{
    text-decoration: underline;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 2px #4ab70b;    
}

.cultivoExt{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
}

.cultivoeExImg{
    width: 300px;
    height: 200px;
    margin: 10px 5px;

}

.cultivoExt h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    
}

.cultivoExt p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 25px;
    
}

.cultivoExt a{
    text-decoration: underline;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 2px #4ab70b;    
}

.cultivoHidro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border: solid 3px springgreen;
    margin: 20px 5px;
    
}

.hidroImg{
    width: 300px;
    height: 200px;
    margin: 10px 5px;

}

.cultivoHidro h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    
}

.cultivoHidro p{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 25px;
    
}

.cultivoHidro a{
    text-decoration: underline;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border: solid 2px #4ab70b;    
}


/* SECTION TABLAS *//* SECTION TABLAS *//* SECTION TABLAS *//* SECTION TABLAS *//* SECTION TABLAS */

.tablaComisiones{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comisiones{
    font-size: 3rem;
    margin: 10px 0px 25px 0px;
    font-style: italic;
}

.tablita{
    width: 500px;
    height: 250px;

}


/* FOOTER CURSOS *//* FOOTER CURSOS *//* FOOTER CURSOS *//* FOOTER CURSOS *//* FOOTER CURSOS *//* FOOTER CURSOS */

.footerCursos{
    margin: 25px 0px 0px 0px;;
    background-color: black;
    grid-area: footer;
}
.footerCursos ul{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.home{
    width: 150px;
}
.rrssFace{
    width: 50px;
}
.rrssIg{
    width: 50px;
}
.wspSticky{
    width: 55px;    
}


/* TAMAÑO TABLET */

@media screen and (max-width: 1025px){

    .sectionCdispo{
        justify-content: center
    }
}



/* TAMAÑO CELULAR */

@media screen and (max-width: 426px){
    .headerCursos{
        background-color: white;
        display: flex;
        justify-content: center;
        
    }

    .headerCursos img{
        width: 200px;
    
    }

    .mainCursos{
        font-size: 2rem;
    }

    .mainCursos p{
        font-size: 1.5rem;
    }

    .tablita{
        width: 300px;
        height: 400px;
    }


}